@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  @apply px-[64px] w-full max-w-full;
}

.typography {
  &-body1 {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  &-h2 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: -4%;
    text-align: center;
  }
}
.text-gradient {

  &-01 {
    background: linear-gradient(180deg, #e8e8e8 0%, #959595 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
