@import "tailwindcss";

.cd__main {
  background: #000 !important;
}
.animated-border-box,
.animated-border-box-glow {
  @apply md:h-[607px] h-[1000px] md:max-h-[607px];

  max-width: 1321px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  border-radius: 16px;
}

.animated-border-box-glow {
  filter: blur(700px);
}

.animated-border-box:before,
.animated-border-box-glow:before {
  content: "";
  z-index: -1;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #3d99f5ed,
    rgba(0, 0, 0, 0),
    #dd8f56,
    rgba(0, 0, 0, 0)
  );
  animation: rotate 10s linear infinite;
}

.animated-border-box:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2px;
  top: 2px;

  width: calc(100% - 4px);
  height: calc(100% - 4px);
  /*bg color*/
  background: #1d1d1d;
  border-radius: 16px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.center-box {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: top;
}

.candle {
  height: 161px;
  width: 15px;
  position: relative;
  .candle-body {
    height: 161px;
    width: 1px;
    opacity: 1;
    background: #ffffff;
    filter: blur(2);
    mix-blend-mode: Plus lighter;
  }
  .candle-light {
    width: 0;
    height: 53px;
    position: absolute;
    top: 100;
    box-shadow:
      0 0 15px 5px rgb(255, 255, 255),
      0 0 30px 10px rgb(255, 255, 255);
    opacity: 1;
    mix-blend-mode: Plus lighter;
    animation: moveUpDown 2s ease-in-out infinite;
  }
}

@keyframes moveUpDown {
  0% {
    top: 0;
    opacity: 0.8;
  }
  50% {
    top: calc(100% - 53px);
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0.8;
  }
}

.hero-banner {
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
  animation: glowPulse 1.5s ease-in-out infinite;
}
@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 0rem rgb(255, 255, 255));
  }
  50% {
    filter: drop-shadow(0 0 7rem rgb(255, 255, 255));
  }
  100% {
    filter: drop-shadow(0 0 0rem rgb(255, 255, 255));
  }
}


.container {
  @apply md:px-[64px] px-4 w-full max-w-full;
}

.scroll-more{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
  gap: 8px;
}


/* Arrow Bounce */
.arrow {
  display: block;
  margin-top: 4px;
  font-size: 20px;
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}